// Colors
$brand-primary:         #27ae60;

$fa-font-path:          '~font-awesome/fonts';

/* sage/assets/styles/common/_variables.scss */
// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

.couvrefeu-text{
    transform:rotate(90deg);
    color:black;
    font-size: 28px;
    line-height: 35px;
}
